body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #FFFCFF;
}
button {
  display: inline-block;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#92a1d1;
}
.row {
  display: flex;
  flex-direction: row;
}
.even {
  justify-content: space-evenly;
}
.width200 {
  width: 200px;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.selectedDay {
  background-color:#fcfaa5;
}
.day + #currentDay {
  background-color:#e8f4fa;
}
.event {
  border-width: thin;
  border-color: black;
  border-style: solid;
  width: 98%;
  position: relative;
  z-index: 99;
  font-size: 0.8rem;
  line-height: 1rem;
  /* padding: 3px; */
  /* background-color: #58bae4; */
  color: black;
  /* border-radius: 5px; */
  /* max-height: 55px; */
  /* overflow: hidden; */
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEvent {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  font-family: sans-serif;
}
.formField {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTypeInput {
  color: black;
}
.green {
  background-color: rgba(0, 255, 0, 0.5);
}
.yello {
  background-color: rgba(255, 255, 0, 0.5);
}
.red {
  background-color: rgba(255, 0, 0, 0.5);
}
#eventDescriptionInput {
  height: 100px;
}
.error {
  border: 2px solid red;
}
#createButton {
  background-color: #75d36c;
}
#updateButton {
  background-color: #cbdf5d;
}
#deleteButton {
  background-color: #d36c6c;
}
#cancelButton {
  background-color: #528dec;
}
#eventText {
  font-size: 14px;
}